<% if message.user == current_user %>
  <div class="message-container d-flex justify-content-start">
    <div class="message-user" id="message-<%= message.id %>">
      <div class="py-1 px-3">
        <div class="author">
          <span><%= message.user.nickname %></span>
          <small><%= message.created_at.strftime("%b %e às %H:%M") %></small>
        </div>
        <div>
          <p><%= message.content %></p>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="message-container d-flex justify-content-end">
    <div class="message-guest" id="message-<%= message.id %>">
      <div class="py-1 px-3">
        <div class="author">
          <small><%= message.created_at.strftime("%b %e às %H:%M") %></small>
          <span><%= message.user.nickname %></span>
        </div>
        <div>
          <p><%= message.content %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
