<div class="container-page">

  <div class="container-background" style="background-image: url(<%= image_path 'women_hug.png' %>)">
  </div>

  <div class="matching-header text-center">
    <h2> Manas pedindo ajuda </h2>
  </div>

  <div class="container-matching-cards-helper">
    <% @matching_profiles.each do |matching| %>
      <% if matching.accepted.nil? %>

        <div class="row">
          <div class="col-md-12">
            <div class="matching-card-helper justify-content-around">
              <div class="avatar-matching-helper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= matching.user.photo.attached? ? (cl_image_path matching.user.photo.key, crop: :fill) : (image_path "Avatars/#{rand(30)}.png", crop: :fill) %>')"></div>
              <div class="matching-info-helper">
                <h5 class="text-center mb-2"><%= matching.request.user.nickname %></h5>
                <h6 class="text-center mb-1"><%= DateTime.now().year - matching.request.user.birth_date.year.to_i %> anos</h6>
                <p class="text-center mb-0"><%= matching.request.theme.title %></p>
              </div>
              <div class="icons-match text-center">
                <%= link_to accepted_true_path(matching), method: :patch, class: "icon-help-accept", remote: true do %>
                  <i class="fas fa-check"></i>
                <% end %>
                <%= link_to accepted_false_path(matching), method: :patch, class: "icon-help-accept", remote: true do %>
                  <i class="fa fa-times"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      <% else %>

        <div class="matching-header text-center">
          <h3> Obrigada! ❤️ <br> Não há manas precisando de ajuda no momento! </h3>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
