<div class="container-page">

  <div class="container-background" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'women_hug.png' %>)">
  </div>

  <div class="matching-header text-center">
    <h2> Manas disponíveis para ajudar </h2>
  </div>

  <div class="container-matching-cards">
    <% @matching_profiles.each do |matchingprofile| %>
      <%= link_to chatrooms_path, method: :post, class: "without-text-decoration" do %>
        <div class="matching-card">
          <% if current_user.photo.attached? %>
            <div class="avatar-matching" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.photo.key, crop: :fill %>')"></div>
          <% else %>
            <div class="avatar-matching" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar.png", crop: :fill %>')"></div>
          <% end %>
          <div class="matching-info">
            <h4 class="text-center"><%= matchingprofile.user.nickname %></h4>
            <h6 class="text-center"><%= DateTime.now().year - matchingprofile.user.birth_date.year.to_i %> anos</h6>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
