<div class="row mt-3">
  <div class="col-6 offset-3">

    <h2 class="text-center">Editar Perfil</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :nickname,
                    required: false,
                    input_html: { autocomplete: "nickname" } %>
        <%= f.input :password,
                    label: "Nova senha",
                    hint: "Deixe vazio caso não queira mudar",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirma nova senha",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Atualizar", class: "btn-rose" %>
      </div>
    <% end %>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <%= link_to "Retornar", :back, class: "text-red-pink" %>
      <%= link_to "Apagar a minha conta", registration_path(resource_name), class: "btn-rose-outline-remove", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>

  </div>
</div>
