<div class="row mt-3">
  <div class="col-6 offset-3">

    <h2 class="text-center">Editar Perfil</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :nickname,
                    required: false,
                    input_html: { autocomplete: "nickname" } %>
        <%= f.input :password,
                    label: "Nova senha",
                    hint: "Deixa vazio se não quer mudar",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirma nova senha",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>

        <div class="d-flex align-items-center flex-column mb-4">
          <% if current_user.avatar %>
            <div class="avatar-large" style="background-image: url('<%= image_path "Avatars/avatar_#{@current_user.avatar.id}", crop: :fill %>')"></div>
            <button type="button" class="btn-rose" data-toggle="modal" data-target="#exampleModal">
              Mudar o avatar
            </button>
          <% else %>
            <i>Você não tem avatar por enquanto</i>
            <div class="avatar-large-black">
             <p><%= current_user.nickname %></p>
            </div>
            <button type="button" class="btn-rose" data-toggle="modal" data-target="#exampleModal">
              Escolher um avatar
            </button>
          <% end %>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Escolhe seu avatar</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <% Avatar.all.each do |a| %>
                        <div class="col-md-3 mb-2">
                          <%= link_to profile_avatar_path(a, avatar_id: a.id), method: :patch do %>
                            <div class="card-avatar" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= image_path "Avatars/#{a.filename}.png" %>')"></div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn-rose" %>
      </div>
    <% end %>
    
    <div class="d-flex justify-content-between align-items-center mb-3">
      <%= link_to "Back", :back, class: "text-red-pink" %>
      <%= link_to "Apagar a minha conta", registration_path(resource_name), class: "btn-rose-outline-remove", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>

  </div>
</div>