<h1> Chat with <%= @chatroom.user.nickname %></h1>

<div class="chat">
  <div class="chat-container d-flex" data-chatroom-id="<%= @chatroom.id %>">
    <div id="side-bar">
    </div>
    <div class="chat-discussion-form-container d-flex flex-column">
      <div class="discussion-container">
        <% @chatroom.messages.each do |message| %>
          <div class="message-container" id="message-<%= message.id %>">
            <i class="author">
              <span><%= message.user.nickname %></span>
              <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </i>
            <p><%= message.content %></p>
          </div>
        <% end %>
      </div>
      <div class="chat-form-container" >
        <%= simple_form_for [ @chatroom, @message ], html:{class: "m-0 d-flex"} do |f| %>
          <div class="chat-box flex-grow-1">
            <textarea class="form-control chat-message required" placeholder="Escreve a sua mensagem..." name="message[content]" id="message_content"></textarea>
          </div>
          <div class="d-flex">
            <input type="submit" name="commit" value="Mensagem" data-disable-with="Mensagem" class= "btn-rose-wradius-left m-0">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





