<% if @chatroom.user != current_user %>
  <h1> Chat with <%= @chatroom.user.nickname %></h1>
<% elsif @chatroom.guest_user != current_user %>
  <h1> Chat with <%= @chatroom.guest_user.nickname %></h1>
<% end %>

<div class="chat">
  <div class="chat-container d-flex">
    <div class="side-bar">
      <% @chatrooms.each do |chat| %>
        <div>
          <% if chat.user != current_user %>
            <%= link_to chat.user.nickname, chatroom_path(chat) %>
          <% elsif chat.guest_user != current_user %>
            <%= link_to chat.guest_user.nickname, chatroom_path(chat) %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="chat-discussion-form-container d-flex flex-column">
      <div class="discussion-container" id="chat-container" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
          <%= render 'messages/message', message:message %>
        <% end %>
      </div>
      <div class="chat-form-container" >
        <%= simple_form_for [ @chatroom, @message ], html:{class: "m-0 d-flex"} do |f| %>
          <div class="chat-box flex-grow-1">
            <textarea class="form-control chat-message required" placeholder="Escreve a sua mensagem..." name="message[content]" id="message_content"></textarea>
          </div>
          <div class="d-flex">
            <input type="submit" name="commit" value="Mensagem" data-disable-with="Mensagem" class= "btn-rose-wradius-left m-0">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

