<div class="show-user-banner" style="background-image: url('<%= image_path 'User-show-profile.png' %>')">
  <div class="container" id="container-user">
    <% if @user == current_user %>
      <div class="user-show-title d-flex align-items-center mb-4">
        <div class="user-show-nickname">
          <%= current_user.nickname %>
        </div>
        <%= link_to edit_user_registration_path, class: "btn-rose-edit" do %>
          <i class="fas fa-pencil-alt"></i>
          Editar meu perfil
        <% end %>
      </div>
      <div class="card-user-profile d-flex align-items-center justify-content-center flex-column">
        <%= render 'modal_avatar' %>
      </div>
      <div class="button-help text-center my-4">
        <%= link_to "Pedir Ajuda !", new_request_path, class: "btn-post"%>
      </div>

    <% if current_user.professional.nil? %>
      <button type="button" method="PATCH" class="btn btn-primary" id="button modal" data-toggle="modal" data-target="#exampleModal">
        Adicionar proffissão
      </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sua profissão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="cards-form">
                  <%= simple_form_for @professional, url: professionals_path(current_user) do |f| %>
                    <%= f.input :job_category, collection: Professional::CATEGORIES, label: "Profissão", input_html: { class: 'card-form' } %>
                    <%= f.input :description, label: false, placeholder: 'Descrição', input_html: { class: 'card-form' } %>
                    <%= f.submit 'Adicionar', class: 'btn-post' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%= current_user.professional.job_category %>
        <%= current_user.professional.description %>
      <% end %>

      <button>
        <%= link_to "Excluir perfil profisional", professional_path, method: :delete, data: {confirm: "Are you sure ?"}, class: 'btn-font-awesome mx-3' %>
      </button>

      <div class="d-flex align-items-center justify-content-center my-3">
        <% if current_user.helper == false %>
          <%= link_to icon_helper("square"), user_toggle_helper_path(current_user), method: :patch, class: "icon-helper", remote: true %>
          <p class="mb-0 ml-3">Você não está disponível para ajudar</p>
        <% else %>
          <%= link_to icon_helper("check-square"), user_toggle_helper_path(current_user), method: :patch, class: "icon-helper", remote: true %>
          <p class="mb-0 ml-3">Você está disponível para ajudar</p>
        <% end %>
      </div>

      <% if current_user.helper == true %>
        <div class="d-flex justify-content-around p-4">
          <% if current_user.selected_themes.exists? %>
            <div class="selected-themes pt-4 flex-grow-2">
              <div class="d-flex flex-wrap justify-content-center">
                <% @selected_themes_existing.each do |select_theme| %>
                  <div class="card-selected-theme d-flex flex-column align-items-center justify-content-center">
                    <div class="delete-theme align-self-end">
                      <%= link_to "x", selected_theme_path(select_theme), method: :delete, data: { confirm: "Certeza ?"}, class: "icon-destroy", remote: true %>
                    </div>
                    <p><%= select_theme.theme.title %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="<%= current_user.themes == [] ? 'form-selected-themes-alone' : 'form-selected-themes' %>">
            <div class="title-form mb-2">
              Assuntos para ajudar
            </div>
            <%= render 'shared/form_themes' %>
          </div>
        </div>
      <% end %>


    <% else %>
      <div class="user-show-title text-center">
        <h1><%= @user.nickname %></h1>
      </div>
      <div class="card-user-profile d-flex align-items-center justify-content-center">
        <% if current_user.avatar %>
          <div class="avatar-large" style="background-image: url('<%= image_path "Avatars/avatar_#{@user.avatar.id}", crop: :fill %>')"></div>
        <% else %>
          <div class="avatar-large-black">
            <p><%= current_user.nickname %></p>
          </div>
        <% end %>
      </div>
      <div class="d-flex align-items-center justify-content-center my-3">
        <% if @user.helper == false %>
          <div class="icon-helper-w-hover">
            <%= icon_helper("square") %>
          </div>
          <p class="mb-0 ml-3"> <%= @user.nickname %> não está disponível para ajudar</p>
        <% else %>
          <div class="icon-helper-w-hover">
            <%= icon_helper("check-square") %>
          </div>
          <p class="mb-0 ml-3"> <%= @user.nickname %> está disponível para ajudar</p>
        <% end %>
      </div>
      <% if @user.selected_themes.exists? %>
            <div class="selected-themes center" style="width: 50%; margin: auto">
              <div class="d-flex flex-wrap justify-content-center">
                <% @user.themes.each do |theme| %>
                  <div class="card-selected-theme d-flex flex-column align-items-center justify-content-center">
                    <p class="m-0"><%= theme.title %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
    <% end %>
  </div>
</div>
