<div class="show-user-banner" style="background-image: url('<%= image_path 'User-show-profile.png' %>')">
  <div class="container pt-3">
    <% if @user == current_user %>
      <div class="user-show-title text-center">
        <h1> <%= current_user.nickname %> </h1>
      </div>
      <div class="card-user-profile d-flex align-items-center justify-content-center">
        <% if current_user.photo.attached? %>
          <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photo.key, crop: :fill %>')"></div>
        <% else %>
          <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar.png", crop: :fill %>')"></div>
        <% end %>
        <div class="card-user-information ml-2">
          INFO ?
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center my-3">
        <% if current_user.helper == false %>
          <%= link_to icon_helper("square"), user_toggle_helper_path(current_user), method: :patch, class: "icon-helper" %>
          <p class="mb-0 ml-3">Você não está disponível para ajudar</p>
        <% else %>
          <%= link_to icon_helper("check-square"), user_toggle_helper_path(current_user), method: :patch, class: "icon-helper" %>
          <p class="mb-0 ml-3">Você está disponível para ajudar</p>
        <% end %>
      </div>

      <% if current_user.helper == true %>
        <div class="d-flex justify-content-between p-4">
          <% if current_user.selected_themes.exists? %>
            <div class="selected-themes flex-grow-2">
              <div class="selected-themes-title">
                <p class="text-center">Ajuda uma sister</p>
              </div>
              <div class="d-flex flex-wrap justify-content-center">
                <% current_user.themes.each do |theme| %>
                  <div class="card-selected-theme d-flex flex-column align-items-center justify-content-center">
                    <div class="delete-theme align-self-end">
                      <%= link_to "x", user_destroy_theme_path(theme_id: theme.id), method: :delete, data: { confirm: "Certeza ?"}, class: "icon-destroy" %>
                    </div>
                    <p><%= theme.title %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="<%= current_user.themes == [] ? 'form-selected-themes-alone' : 'form-selected-themes flex-shrink-2' %>">
            <div class="title-form mb-2">
              Assuntos para ajudar
            </div>
            <%= render 'shared/form_themes' %>
          </div>
        </div>
      <% end %>
      

    <% else %>
      <div class="user-show-title text-center">
        <h1><%= @user.nickname %></h1>
      </div>
      <div class="card-user-profile d-flex align-items-center justify-content-center">
        <% if @user.photo.attached? %>
          <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.photo.key, crop: :fill %>')"></div>
        <% else %>
          <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar.png", crop: :fill %>')"></div>
        <% end %>
        <div class="card-user-information ml-2">
          INFO?
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center my-3">
        <% if @user.helper == false %>
          <div class="icon-helper-w-hover">
            <%= icon_helper("square") %>
          </div>
          <p class="mb-0 ml-3"> <%= @user.nickname %> não está disponível para ajudar</p>
        <% else %>
          <div class="icon-helper-w-hover">
            <%= icon_helper("check-square") %>
          </div>
          <p class="mb-0 ml-3"> <%= @user.nickname %> está disponível para ajudar</p>
        <% end %>
      </div>
      <% if @user.selected_themes.exists? %>
            <div class="selected-themes center" style="width: 50%; margin: auto">
              <div class="d-flex flex-wrap justify-content-center">
                <% @user.themes.each do |theme| %>
                  <div class="card-selected-theme d-flex flex-column align-items-center justify-content-center">
                    <p class="m-0"><%= theme.title %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
    <% end %>
  </div>
</div>