<div class="container">
  <% if @user == current_user %>
    <div class="user-show-title text-center">
      <h1> <%= current_user.nickname %> </h1>
    </div>
    <div class="card-user-profile d-flex align-items-center justify-content-center">
      <% if current_user.photo.attached? %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photo.key, crop: :fill %>')"></div>
      <% else %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar.png", crop: :fill %>')"></div>
      <% end %>
      <div class="card-user-information ml-2">
        INFO ?
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center my-3">
      <% if current_user.helper == false %>
        <%= link_to icon_helper("square"), user_toggle_helper_path(current_user), method: :patch, class: "icon-helper" %>
        <p class="mb-0 ml-3">Você não está disponível para ajudar</p>
      <% else %>
        <%= link_to icon_helper("check-square"), user_toggle_helper_path(current_user), method: :patch, class: "icon-helper" %>
        <p class="mb-0 ml-3">Você está disponível para ajudar</p>
      <% end %>
    </div>

    <% if current_user.helper == true %>
      <div class="d-flex justify-content-around">
        <div class="selected-themes">
          <% if current_user.selected_themes.exists? %>
            <div class="selected-themes-title">
              <p>Você està disponível para ajudar com</p>
            </div>
            <div class="d-flex flex-wrap">
              <% current_user.themes.each do |theme| %>
                <div class="card-selected-theme d-flex flex-column align-items-center justify-content-center">
                  <div class="delete-theme align-self-end">
                    <%= link_to "x", user_destroy_theme_path(theme_id: theme.id), method: :delete, data: { confirm: "Certeza ?"} %>
                  </div>
                  <p><%= theme.title %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="form-selected-themes">
          <p>Você queria ajudar em quais assuntos ?</p>
          <%= render 'shared/form_themes' %>
        </div>
      </div>
    <% end %>
    

  <% else %>
    <div class="user-show-title">
      <h1>Profile page of <%= @user.nickname %></h1>
    </div>
    <div class="card-user-profile d-flex align-items-center">
      <% if @user.photo.attached? %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.photo.key, crop: :fill %>')"></div>
      <% else %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar.png", crop: :fill %>')"></div>
      <% end %>
      <div class="card-user-information ml-2">
      <%= @user.nickname %>
      </div>
    </div>
    <div class="user-helper d-flex align-items-center mt-3">
      <% if @user.helper == false %>
        <div class="btn-user-helper-false">
        </div>
        <div class="user-helper-text">
          <p class="m-0"><%= @user.nickname %> isn't available to help</p> 
        </div>
      <% else %>
        <div class="btn-user-helper-true">
        </div>
        <div class="user-helper-text">
          <p class="m-0"><%= @user.nickname %> is available to help</p> 
        </div>
      <% end %>
    </div>
  <% end %>
</div>
