<div class="container">
  <% if @user == current_user %>
    <div class="user-show-title">
      <h1>Your profile page</h1>
    </div>
    <div class="card-user-profile d-flex align-items-center">
      <% if current_user.photo.attached? %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photo.key, crop: :fill %>')"></div>
      <% else %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar.png", crop: :fill %>')"></div>
      <% end %>
      <div class="card-user-information ml-2">
      <%= current_user.nickname %>
      </div>
    </div>
    <div class="user-helper d-flex align-items-center mt-3">
      <% if current_user.helper == false %>
        <div class="btn-user-helper-false">
        </div>
        <div class="user-helper-text">
          <p class="m-0">You're not available to help</p> 
        </div>
      <% else %>
        <div class="btn-user-helper-true">
        </div>
        <div class="user-helper-text">
          <p class="m-0">You're not available to help</p> 
        </div>
      <% end %>
    </div>

  <% else %>
    <div class="user-show-title">
      <h1>Profile page of <%= @user.nickname %></h1>
    </div>
    <div class="card-user-profile d-flex align-items-center">
      <% if @user.photo.attached? %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.photo.key, crop: :fill %>')"></div>
      <% else %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar.png", crop: :fill %>')"></div>
      <% end %>
      <div class="card-user-information ml-2">
      <%= @user.nickname %>
      </div>
    </div>
    <div class="user-helper d-flex align-items-center mt-3">
      <% if @user.helper == false %>
        <div class="btn-user-helper-false">
        </div>
        <div class="user-helper-text">
          <p class="m-0"><%= @user.nickname %> isn't available to help</p> 
        </div>
      <% else %>
        <div class="btn-user-helper-true">
        </div>
        <div class="user-helper-text">
          <p class="m-0"><%= @user.nickname %> is available to help</p> 
        </div>
      <% end %>
    </div>

  <% end %>
</div>
