<%= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nickname,
                required: true,
                autofocus: true, 
                input_html: { autocomplete: "nickname" },
                label: "Apelido" %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                label: "Email" %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                label: "Senha" %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                label: "Confirmar a senha" %>
    <%= f.input :birth_date,
                required: true,
                label: "Data de nascimento" %>
  </div>

  <div class="form-actions d-flex justify-content-center">
    <%= f.button :submit, "Sign up", class: "btn-rose"%>
  </div>
<% end %>
<%= render "devise/shared/links_wo_signup", resource_name: :user, devise_mapping: Devise.mappings[:user] %>