<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'Banner.jpg' %>)">
  <div class="row">
    <div class="col-8">
      <div class="home-title mx-5">
        Sororitree
      </div>
      <div class="home-subtitle mx-5 ">
        conecta as mulheres
      </div>
    </div>
    <div class="col-4">
      <div class="form-homepage mx-5">
        <%= render "shared/form_homepage" %>
      </div>
    </div>
  </div>
</div>
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'banner_arms.jpg' %>)">
  <div class="row">
    <div class="col-8">
      <div class="home-title-explanation mx-5">
        Procurar ajuda
      </div>
      <div class="home-explanation mx-5 ">
        Se você procura ajuda para falar de assuntos tabu, agora você pode utilizar a app Sororitree, que lhe permite falar com mulheres que estão prontas para te ouvir.
      </div>
    </div>
  </div>
</div>
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'banner_hands.jpg' %>)">
  <div class="row">
    <div class="col-8">
      <div class="home-title-explanation mx-5">
        Ajudar
      </div>
      <div class="home-explanation mx-5 ">
        Se desejar, você também pode ajudar outras mulheres, compartilhando suas experiências e opiniões.
      </div>
    </div>
  </div>
</div>
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'banner_heart.jpg' %>)">
  <div class="row">
    <div class="col-8">
      <div class="home-title-explanation mx-5">
        Trocar
      </div>
      <div class="home-explanation mx-5 ">
        No Sororitree você também pode visualizar e postar informações e comentários relacionados ao lugar da mulher na sociedade contemporânea.
      </div>
    </div>
  </div>
</div>


