<div class="banner-home" style="background-image: url(<%= image_path 'Home/banner-home5.jpg' %>)">
  <div class="row banner-home-infos">
    <div class="col-8">
      <div class="home-title mx-5">
        Sororitree
      </div>
      <div class="home-subtitle mx-5 ">
        Conecta mulheres
      </div>
    </div>
    <div class="col-4">
      <div class="form-homepage mx-5">
        <%= render "shared/form_homepage" %>
      </div>
    </div>
  </div>
</div>

<div class="post-container">
    <div class="title-posts d-flex flex-wrap justify-content-center">
      <p>As manas se expressam</p>
    </div>
    <div class="post-presentation d-flex flex-wrap justify-content-center">
      <%  @random_posts.each do |post| %>
        <div class="post-example d-flex flex-column align-items-center justify-content-center" style="background: rgba(255,255,255,1)">
        <div class="avatar-post mx-1 align-self-center" style="background-image: url('<%= image_path("Avatars/avatar_#{post.user.avatar.id}.png", crop: :fill) %>')"></div>
        <p> "<%= post.content[0, 200] %>..." </p>
        <p> <%= post.user.nickname %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="arms d-flex justify-content-start" style="background-image: url(<%= image_path 'Home/banner-arms.jpg' %>)">
  <div class="arms-text">
    <div class="home-title-explanation">
      <br><br>
      Procurar ajuda
    </div>
    <div class="home-explanation">
      Se você procura ajuda para falar de assuntos tabu, <br>agora você pode utilizar a app Sororitree, <br>que lhe permite falar com mulheres que estão prontas para te ouvir.
    </div>
  </div>
</div>

<div class="hands d-flex justify-content-end" style="background-image: url(<%= image_path 'Home/banner-hands.jpg' %>)">
  <div class="hands-text">
    <div class="home-title-explanation">
      <br>
      Ajudar
    </div>
    <div class="home-explanation">
      Se desejar,<br> você também pode ajudar outras mulheres,<br> compartilhando suas experiências e opiniões.
    </div>
  </div>
</div>

<div class="heart d-flex justify-content-start" style="background-image: url(<%= image_path 'Home/banner-heart.jpg' %>)">
  <div class="heart-text">
    <div class="home-title-explanation">
      <br><br>
      Trocar
    </div>
    <div class="home-explanation">
      No Sororitree você também pode visualizar e postar informações<br> e comentários relacionados ao lugar da mulher na sociedade contemporânea.
    </div>
  </div>
</div>



