<div class="container-page">
  <div class="container-background" style="background-image: url(<%= image_path 'womem_handsup1.png' %>)">
  </div>
  <div class="container-posts">
    <div class="py-5 px-3">
      <h1> Seus Posts </h1>

      <button type="button" class="btn btn-primary" id="button-modal" data-toggle="modal" data-target="#exampleModal">
        Criar Publicação
      </button>

<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nova Publicação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <div class="cards-form">
                <%= simple_form_for (@post), url: {controller: "posts", action: "create"} do |f| %>
                  <%= f.input :content, label: false, placeholder: 'Nos conte sua história...', input_html: { class: 'card-form' } %>
                  <%= f.association :theme, label: "Temática:", input_html: { class: 'card-form' } %>
                  <%= f.button :submit, 'Compartilhe', class: 'btn-post' %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div>
      <% @posts.each do |post| %>
      <div class="posts-cards mt-4">
        <div class="d-flex justify-content-between">
          <h6>Category: <%= post.theme.title %></h6>
          <h6><%= post.created_at.strftime("%Y-%m-%d") %></h6>
        </div>
        <p><%= post.user.nickname %></p>
        <p><%= post.content %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
